# HW03

## Some exercises to get started with data analysis in Python

### Setup

Run the following 2 cells to import all necessary libraries and helpers for Homework 02

In [3]:
!wget -q https://github.com/DM-GY-9103-2024F-H/9103-utils/raw/main/src/data_utils.py

In [44]:
import matplotlib.pyplot as plt

from HW03_utils import Tests
from data_utils import object_from_json_url

### Exercise 01:

Finding the sum of integer sequences.

Create a function ```sum_of_ints(i0, i1)``` that returns the sum of all integers between two integers.

For example, ```sum_of_ints(4, 32)``` should return $522$.

In [5]:
## Work on exercise 01 here

def sum_of_ints(i0, i1):
  x = 0
  if i1<i0:
    a = i1
    b = i0
  else:
    a = i0
    b =  i1
  for i in range(a,b+1):
    x = x + i
  return x

sum_of_ints(4, 32)

522

### Exercise 01 testing:

Running the following cell will test the ```sum_of_ints()``` function on a small set of input pairs and report any combination that isn't computing correctly, if any.

In [6]:
# Test 01
Tests.test("01", sum_of_ints)

01: All tests passed ðŸŽ‰ðŸŽ‰ðŸŽ‰

### Exercise 02:

Working with lists and dictionaries/objects.

Write a function `sum_objects(in_list)` that accept a list of objects and returns a sum according to the following specifications:

Each object in the list has 2 fields, `type` and `amount`, and so will look something like this:

```python
list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]
```

The `sum_objects(in_list)` function should iterate through all of the items in `in_list` and sum their `amount`s using positive values when `type` is `"income"`, and negative values when `type` is `"cost"`.

For example, passing the above list to the function should return $367.78$.

In [7]:
# Implement 02 here

def sum_objects(in_list):
  x = 0
  costs = []
  income = []
  for item in in_list:
    if in_list[x]["type"] == "cost":
      costs.append(in_list[x]["amount"] * -1)

    elif in_list[x]["type"] == "income":
      income.append(in_list[x]["amount"])
    x = x +1

  totalam = 0
  for inc in income:
    totalam = inc + totalam
  for cst in costs:
    totalam = cst + totalam

  return totalam

In [8]:
# Run this cell to test if function returns 367.78

test_list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]

#test_list[0]["amount"]
#test_list[0]["type"]
sum_objects(test_list)

367.78

#### Exercise 02 test:

Run the following cell to test the `sum_objects()` function.

In [9]:
# Test 02
Tests.test("02", sum_objects)

ERROR Check sum of [{'type': 'income', 'amount': 52.88}, {'type': 'income', 'amount': 1.76}, {'type': 'cost', 'amount': 51.37}, {'type': 'income', 'amount': 56.55}, {'type': 'income', 'amount': 3.07}, {'type': 'income', 'amount': 71.85}, {'type': 'income', 'amount': 33.55}, {'type': 'cost', 'amount': 66.68}, {'type': 'cost', 'amount': 58.37}, {'type': 'income', 'amount': 60.57}, {'type': 'income', 'amount': 38.38}, {'type': 'income', 'amount': 85.44}, {'type': 'cost', 'amount': 77.64}, {'type': 'income', 'amount': 76.75}, {'type': 'cost', 'amount': 53.8}] should be 172.94 not 172.93999999999994
ERROR Check sum of [{'type': 'cost', 'amount': 20.7}, {'type': 'cost', 'amount': 88.55}, {'type': 'income', 'amount': 10.35}, {'type': 'cost', 'amount': 58.93}, {'type': 'cost', 'amount': 93.0}, {'type': 'income', 'amount': 74.75}, {'type': 'cost', 'amount': 1.05}, {'type': 'cost', 'amount': 69.37}, {'type': 'cost', 'amount': 85.68}, {'type': 'income', 'amount': 72.71}, {'type': 'income', 'amount': 4.67}, {'type': 'income', 'amount': 19.5}] should be -235.3000000000001 not -235.3
ERROR Check sum of [{'type': 'cost', 'amount': 50.35}, {'type': 'income', 'amount': 99.14}, {'type': 'income', 'amount': 89.58}, {'type': 'cost', 'amount': 14.21}, {'type': 'cost', 'amount': 93.56}, {'type': 'cost', 'amount': 46.19}, {'type': 'income', 'amount': 5.05}] should be -10.540000000000003 not -10.539999999999992
ERROR Check sum of [{'type': 'cost', 'amount': 31.7}, {'type': 'cost', 'amount': 1.83}, {'type': 'income', 'amount': 71.07}, {'type': 'cost', 'amount': 78.8}, {'type': 'cost', 'amount': 17.5}, {'type': 'income', 'amount': 68.64}, {'type': 'income', 'amount': 81.84}, {'type': 'income', 'amount': 52.46}, {'type': 'income', 'amount': 59.29}] should be 203.47 not 203.47000000000003
ERROR Check sum of [{'type': 'income', 'amount': 75.44}, {'type': 'cost', 'amount': 57.53}, {'type': 'income', 'amount': 93.23}, {'type': 'cost', 'amount': 38.1}, {'type': 'income', 'amount': 6.82}, {'type': 'income', 'amount': 61.42}, {'type': 'income', 'amount': 57.79}, {'type': 'cost', 'amount': 91.4}, {'type': 'income', 'amount': 13.36}, {'type': 'cost', 'amount': 2.13}, {'type': 'income', 'amount': 15.63}, {'type': 'income', 'amount': 75.96}] should be 210.48999999999995 not 210.48999999999998
ERROR Check sum of [{'type': 'income', 'amount': 84.34}, {'type': 'income', 'amount': 17.64}, {'type': 'cost', 'amount': 80.91}, {'type': 'income', 'amount': 35.28}, {'type': 'income', 'amount': 55.63}, {'type': 'cost', 'amount': 1.47}, {'type': 'cost', 'amount': 32.39}] should be 78.12000000000002 not 78.11999999999999
ERROR Check sum of [{'type': 'income', 'amount': 33.66}, {'type': 'cost', 'amount': 69.74}, {'type': 'income', 'amount': 28.12}, {'type': 'income', 'amount': 58.2}, {'type': 'cost', 'amount': 83.21}, {'type': 'income', 'amount': 1.27}, {'type': 'income', 'amount': 17.42}, {'type': 'income', 'amount': 23.47}, {'type': 'income', 'amount': 40.31}, {'type': 'income', 'amount': 78.88}, {'type': 'income', 'amount': 96.74}, {'type': 'cost', 'amount': 28.19}, {'type': 'income', 'amount': 20.64}, {'type': 'income', 'amount': 32.99}] should be 250.56 not 250.56000000000006

### Exercise 03:

Working with data files.

Find the name and population of the 3 cities that are geographically closest to the world's most populous city.

# ðŸ¤”ðŸ˜±

#### Load Data:

Let's break this down into a few sub-problems.

First, let's load a JSON file that has information about large cities in the world.

The file at this [URL](https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/cities50k.json) has a list of cities formatted like this:

```py
{
  "name": "Pittsburgh",
  "country": "US",
  "admin1": "Pennsylvania",
  "lat": 40.4406200,
  "lon": -79.9958900,
  "pop": 304391
}
```

This is just like how we loaded ANSUR data files in class:

In [10]:
# Define the location of the json file here
CITIES_FILE = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/cities50k.json"

# Use the object_from_json_url() function to load contents from 
# the json file into a Python object called "info_cities"

info_cities = object_from_json_url(CITIES_FILE)

#### Exercise 03A:

Ok. We should now have a list of objects with information about cities.

Explore the data and answer the following questions:
- How many cities are in this list?
- What's the name of the first city on the list?
- What are the latitude and longitude of the last city on the list?
- What are the populations for the largest and smallest cities?
- What's the name of the city with the largest population?

In [23]:
# Work on 03A here

# How many cities are in the list?

num_cities = len(info_cities )
print ("number of cities is ",num_cities)


# What's the name of the first city on the list?

first_city = info_cities[0]["name"]
print ("name of first city on list is ",first_city)


# What are the latitude and longitude of the last city on the list?

last_latitude = info_cities[-1]["lat"]
last_longitude = info_cities[-1]["lon"]
print("(" ,last_latitude ,",",last_longitude,")")

# What are the populations for the largest and smallest cities?
#3 the populations first
print(info_cities[0])
populationX = [P["pop"] for P in info_cities]


print(populationX[0])
largest_population = max(populationX)
smallest_population = min(populationX)


# What's the name of the city with the largest population?

def cityKey(P):
  return P["pop"]

largest_pop_name = max(info_cities, key=cityKey)
print(largest_pop_name)

largest_city_name = largest_pop_name['name']
print(largest_city_name)

number of cities is  8670
name of first city on list is  Abu Dhabi
( -17.88333 , 30.7 )
{'name': 'Abu Dhabi', 'country': 'AE', 'admin1': 'AbÅ« ZÌ§aby', 'lat': 24.45118, 'lon': 54.39696, 'pop': 603492}
603492
{'name': 'Shanghai', 'country': 'CN', 'admin1': 'Shanghai Shi', 'lat': 31.22222, 'lon': 121.45806, 'pop': 22315474}
Shanghai

#### Test 03A

In [24]:
# Test 03A
answers = [num_cities, first_city, last_latitude, last_longitude, largest_population, smallest_population, largest_city_name]

Tests.test("03A", answers)

03A: All tests passed ðŸŽ‰ðŸŽ‰ðŸŽ‰

#### Exercise 03B:

We have the largest city's name and population, but we need its position.

We can recycle some of the logic from above to get the whole object that contains information for the largest city.

In [27]:
# Work on 03B here
def cityKey(P):
  return P["pop"]

largest_pop_name = max(info_cities, key=cityKey)
print(largest_pop_name)


largest_city = max(info_cities, key=cityKey)

{'name': 'Shanghai', 'country': 'CN', 'admin1': 'Shanghai Shi', 'lat': 31.22222, 'lon': 121.45806, 'pop': 22315474}

In [26]:
# Test 03B
Tests.test("03B", largest_city)

03B: All tests passed ðŸŽ‰ðŸŽ‰ðŸŽ‰

#### Exercise 03C:

We should have all info about the largest city here.

Now, we'll iterate through the list and use each city's latitude and longitude to calculate its distance from the largest city.

Althought not $100\%$ correct, it's ok to use the [2D Euclidean distances](https://en.wikipedia.org/wiki/Euclidean_distance#Two_dimensions) for this.

Could be useful to define a function `distance(cityA, cityB)` that returns the distance between two cities.

In [68]:
# Work on 03C here
import math
# Implement the helper function for calculating distances between 2 cities
## math.sqrt((a1 - b1) ** 2 + (a1 - b1) ** 2)

def distance(cityA,cityB):
    a1 = 0
    a2 = 0
    b1 = 0
    b2 = 0
    for a in info_cities:
        if cityA == a["name"]:
            a1 = a["lat"]
            b1 = a["lon"]
            #print(a1,b1)
    for b in info_cities:
        if cityB == b["name"]:
            a2 = b["lat"]
            b2 = b["lon"]
            #print(a2,b2)
    return math.sqrt((a1 - a2) ** 2 + (b1 - b2) ** 2)

        

    
print(info_cities[0])
print(distance('Abu Dhabi','Shanghai'))
print(distance('Abu Dhabi','Abu Dhabi'))

{'name': 'Abu Dhabi', 'country': 'AE', 'admin1': 'AbÅ« ZÌ§aby', 'lat': 24.45118, 'lon': 54.39696, 'pop': 603492}
67.40206314269321
0.0

In [57]:
# Test 03C
Tests.test("03C", distance)

ERROR Check distance between {'lat': 23.997, 'lon': -156.826} and {'lat': 40.355, 'lon': 162.532} . It should be 319.777 not 0.0
ERROR Check distance between {'lat': 26.17, 'lon': -13.178} and {'lat': 31.83, 'lon': 128.026} . It should be 141.317 not 0.0
ERROR Check distance between {'lat': 53.777, 'lon': -157.857} and {'lat': 52.102, 'lon': 105.879} . It should be 263.741 not 0.0
ERROR Check distance between {'lat': 61.013, 'lon': -105.319} and {'lat': -7.1, 'lon': 89.45} . It should be 206.336 not 0.0
ERROR Check distance between {'lat': -55.899, 'lon': 16.95} and {'lat': -17.129, 'lon': 156.897} . It should be 145.218 not 0.0
ERROR Check distance between {'lat': -6.575, 'lon': 26.181} and {'lat': 59.707, 'lon': -79.743} . It should be 124.953 not 0.0
ERROR Check distance between {'lat': -21.421, 'lon': 162.849} and {'lat': -73.493, 'lon': 115.389} . It should be 70.455 not 0.0
ERROR Check distance between {'lat': -31.296, 'lon': -29.667} and {'lat': -4.48, 'lon': 172.379} . It should be 203.818 not 0.0
ERROR Check distance between {'lat': -59.14, 'lon': -50.336} and {'lat': 4.174, 'lon': -77.286} . It should be 68.811 not 0.0
ERROR Check distance between {'lat': -46.488, 'lon': 155.907} and {'lat': 7.273, 'lon': 160.411} . It should be 53.949 not 0.0
ERROR Check distance between {'lat': -31.945, 'lon': -137.411} and {'lat': -58.012, 'lon': -20.92} . It should be 119.372 not 0.0
ERROR Check distance between {'lat': -83.343, 'lon': -67.731} and {'lat': 70.448, 'lon': 54.717} . It should be 196.584 not 0.0
ERROR Check distance between {'lat': 27.837, 'lon': -111.322} and {'lat': -44.066, 'lon': 42.084} . It should be 169.421 not 0.0
ERROR Check distance between {'lat': 6.681, 'lon': 179.407} and {'lat': -73.437, 'lon': -137.582} . It should be 326.957 not 0.0
ERROR Check distance between {'lat': -6.426, 'lon': 109.593} and {'lat': -38.532, 'lon': 144.973} . It should be 47.776 not 0.0
ERROR Check distance between {'lat': -51.249, 'lon': -129.049} and {'lat': -45.344, 'lon': 84.889} . It should be 214.019 not 0.0

#### Exercise 03D:

Ok. We implemented a function to calculate the distance between 2 cities, let's use it now.

Iterate through the list of cities again, calculate the distance from each city to the largest city, and add that as a new feature/key to each city's entry:

```py
{
  "name": "Pittsburgh",
  "country": "US",
  "admin1": "Pennsylvania",
  "lat": 40.4406200,
  "lon": -79.9958900,
  "pop": 304391,
  "distance": 1222.32
}
```


Or, iterate through the list of cities, calculate the distance from each city to the largest city and save the name, population and distance of each city on a separate list, maybe called `city_distances`.

`city_distances` could look something like this:

```py
[
  { "name": "Abu Dhabi", "pop": 603492, "distance": 12.34 },
  { "name": "Ajman City", "pop": 490035, "distance": 98.76 },
  ...
  { "name": "Norton", "pop": 52054, "distance": 56.78 }
]
```

Just make sure the `key` that holds the distance value is called `distance`.

In [71]:
# Work on 03D here

# Now calculate every city's distance from the largest city and
# add that info to each city's entry or save that on a new list
# with their name and pop
city_distances = []
for ci in info_cities:
    dis=0
    #distance(ci['name'],largest_city)
    dis = distance(ci['name'],largest_city)
    #print(ci['name'])
    city_distances.append(dis)

print(city_distances[0])

59.639663485251155

In [70]:
# Test 03D
Tests.test("03D", city_distances)

# OR
#Tests.test("03D", info_cities)

TypeError: 'float' object is not subscriptable

#### Exercise 03E:

Now, sort the array from the previous step by distance and get the name and population of the $3$ cities closest to the largest city, but not including the largest city. In other words, if you sort the list from the exercise above by ascending `distance`, the $3$ cities closest to the largest city will be in the slice `[1:4]`. The city at index $0$ is the city with the largest population, and should have a distance of $0$ from itself.

The answer should be an object where its keys are city names and values are populations.

Something like:

```python
closest_3 = {
  "pittsburgh": 23412,
  "liverpool": 172821,
  "oakland": 182726
}
```

We saw how to sort lists of objects in lecture.

In [ ]:
# Work on 03E here

# Sort the array and get the name and population of the 3 cities closest to the largest city

cities_by_distance = []

closest_3 = {}

In [ ]:
# Test 03F
Tests.test("03E", closest_3)

### Exercise 04:

Visualizing data files.

#### Loading The Data:

Let's load a JSON file that has information about houses in the Los Angeles metropolitan region of California.

The file at this [url](https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/LA_housing.json) has a list of objects formatted like this:

```python
{
  "longitude": -114.310,
  "latitude": 34.190,
  "age": 15,
  "rooms": 12.234,
  "bedrooms": 3.514,
  "value": 669000
}
```

The number of rooms and bedrooms are not integers because some addresses have multiple units/apartments with different floorplans that get averaged.

In [ ]:
# Define the location of the json file
HOUSES_FILE = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/LA_housing.json"

# Use the object_from_json_url() function to load
# the json file into a Python object called "info_houses"

info_houses = object_from_json_url(HOUSES_FILE)

#### Exercise 04A:

Explore the data and answer the following questions:
- How many instances are there in our dataset?
- What's the value of the most expensive house?
- What's the max number of bedrooms in a house?
- What's the number of bedrooms in the house with the most rooms?
- What's the number of rooms in the house with the most bedrooms?

In [ ]:
# Work on 04A here

# How many instances are there in our dataset?
# This is the same as asking "how many rows" or, in this case, "how many houses"

num_houses = 0


# What's the value of the most expensive house?

max_value = 0


# What's the number of bedrooms in the house with the most bedrooms?

most_bedrooms = 0


# What's the number of bedrooms in the house with the most rooms?

bedrooms_in_most_rooms = 0


# What's the number of rooms in the house with the most bedrooms?

rooms_in_most_bedrooms = 0

In [ ]:
# Test 04A
answers = [num_houses, max_value, most_bedrooms, bedrooms_in_most_rooms, rooms_in_most_bedrooms]

Tests.test("04A", answers)

#### Exercise 04B:

Which of the features (`longitude`, `latitude`, `age`, `rooms` or `bedrooms`) is a better indicator for value of a house?

We're going to use XY scatter plots to visualize house value as a function of each of these features, and see if any of them show strong correlation.

Documentation for the plotting library is here:
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

One thing to note is that the functions for plotting like to get lists of values and not lists of objects.

Before we plot anything, let's define a function `list_from_key(objs, key)` that returns a list with all values of feature `key` for all of the objects in `objs`.

In [ ]:
# Work on 04B here

# helper function to get lists of values from specific key
def list_from_key(objs, key):
  # TODO: implement the list_from_key functionality
  return []

In [ ]:
# Test 04B
Tests.test("04B", list_from_key)

#### Exercise 04C:

Now we can actually plot some values and start looking for correlations.

Pick a feature and make a graph that shows house prices as a function of that feature.

You can also write a for loop to plot graphs for all features.

In [ ]:
# Work on 04C here

# TODO: get a list with all of the price values
prices = []

# TODO: get a list with all of the house ages (for example)
house_ages = []


# this is the command to plot a XY scatter plot from 2 lists
# see documentation: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

plt.scatter(house_ages, prices)
plt.xlabel("age")
plt.ylabel("value")
plt.show()

#### What are some features that correlate with price ?

Answer 04C here. Double-click to edit Markdown.

#### Foreshadowing:

What if we use two features at a time?

Is there a pair of features (`longitude`, `latitude`, `age`, `rooms` or `bedrooms`) that correlates to house value?

We could look at the relationship between `price`, `age` and `rooms`:

In [ ]:
# get a list with all of the price values
prices = list_from_key(info_houses, "value")

# get a list with all of the values of one feature
feature_0_values = list_from_key(info_houses, "age")

# get a list with all of the values of another feature
feature_1_values = list_from_key(info_houses, "rooms")

# this is how we plot an XY scatter plot using 3 lists
# see documentation: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

plt.scatter(feature_0_values, feature_1_values, c=prices, alpha=0.3)
plt.xlabel("age")
plt.ylabel("rooms")
plt.show()

Or, we could write a little for loop to plot all possible pairs of features:

In [ ]:
# to plot all feature pairs
# get list of all features
features = info_houses[0].keys()
prices = list_from_key(info_houses, "value")

# get all pairs of features
for idx_0, feature_0 in enumerate(features):
  x = list_from_key(info_houses, feature_0)
  for idx_1, feature_1 in enumerate(features):
    y = list_from_key(info_houses, feature_1)
    # skip repeated features
    if feature_0 != "value" and feature_1 != "value" and idx_1 > idx_0:
      plt.scatter(x, y, c=prices, alpha=0.3)
      plt.xlabel(feature_0)
      plt.ylabel(feature_1)
      plt.show()